@page "/"

<PageTitle>Index</PageTitle>

<h1>DOE +</h1>

Uma aplicação web com o objetivo de facilitar o processo de doação de itens para a sociedade. Aqui você pode cadastrar
entidades, campanhas e itens, além de visualizar, editar e excluir cadastros.
